<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Jitter</display-name>
  <welcome-file-list>
    <welcome-file>log.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Credentials</display-name>
    <servlet-name>Credentials</servlet-name>
    <servlet-class>Credentials</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Credentials</servlet-name>
    <url-pattern>/Credentials</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profil</display-name>
    <servlet-name>Profil</servlet-name>
    <servlet-class>Profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/Profil</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/Filter</url-pattern>
  </filter-mapping>
</web-app>